<div id="button" style="background-image: url('<%- button.image %>'); background-size: contain">
  <div id="button-title"><%= button.title %></div>
  <audio src=<%- button.sound %>></audio>
</div>
<div id='counter'><%= button.count %></div>
