<div style="background-image: url('<%- button.image %>')">
  <h1><%= button.title %></h1>
  <input type='button' />
  <audio src=<%- button.sound %>></audio>
</div>
<div class='button-counter'>0</div>
