<html>
  <head></head>
  <body>
    <div>作成</div>
    <form action='/' method='get'>
      <input name='theme' type='text' placeholder='theme'/>
      <input name='title' type='text' placeholder='title'/>
      <input name='image' type='text' placeholder='image'/>
      <input name='sound' type='text' placeholder='sound'/>
      <input type="submit" />
    </form>
  </body>
</html>
